body {
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

body * {
    font-family: 'Lucida Sans Typewriter', sans-serif;
}

/* TODO -> walk through document and make sure to rewrite for common CSS traits */

nav {
    position: fixed;
    background-color: #247291;
    height: 100%;
    width: max(20vw, 400px);
}

#menu {
    list-style: none;
}

#menu>li {
    margin: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 90%;
}

nav button {
    border: none;
    background-color: #247291;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    inline-size: 300px;
    overflow-wrap: break-word;
    transition: all 0.5s ease;
}

nav button:hover {
    background-color: white;
    color: #247291;
}

nav>#controls>button {
    margin: 20px 0px 0px 40px;
}

nav button:hover {
    background-color: white;
    color: #247291;
}

nav>#dashboard-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}

#dashboard-logo>img {
    height: 5rem;
}

#dashboard-logo>p {
    font-size: 3rem;
}

#main-content {
    height: 100vh;
    margin-left: calc(20vw);
}

.user-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    height: 18vh;
    background-color: #eef2e2;
}

.user-content>input {
    font-size: 1.5rem;
    border-radius: 5px;
    padding-left: 20px;
    height: 3rem;
    border: none;
    width: 400px;
    transition: all 0.5s ease 0s;
}

.user-content>input:focus {
    width: 700px;
    color: white;
    background-color: #247291;
}

.user-content>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

input:focus::placeholder {
    color: white;
}

.task-content {
    overflow: hidden;
    min-height: 80vh;
    background-color: #f5f9ee;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2rem;
    gap: 10px;
}

.task-content > #task-list-container > #temp-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

#task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-list-container > div:not(#temp-div) {
    display: inline-block;
    width: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #247291;
    /* border-style: groove; */
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    /* box-shadow: 5px 5px 20px 1px gray; */
}

.task-content button {
    color: black;
    background-color: #f5f9ee;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    height: 3rem;
}

.task-content button:hover {
    color: #247291;
    background-color: #f8da5b;
}

#task-list-container > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    width: 95%;
}

#task-list-container li  {
    /* text-decoration: line-through; */
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 249, 217);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 10px;
    transition: 0.3s;
    /* transition: transform 0.3s ease-in-out; */
}

#task-list-container li button {
    height: auto;
    width: auto;
    padding: 5px;
    background-color: rgb(252, 249, 217);
    font-size: 15px;
}

#task-list-container li button:hover {
    background-color: #247291;
    color: white;
}

#task-list-container li:hover {
    /* transform: translateX(30px); */
    scale: 1.025;
}

dialog[open] {
    border-radius: 10px;
    border-width: 1px;
    width: clamp(20rem, 30rem, 40rem);
}

dialog .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

dialog .inputs div:nth-child(-n + 2) {
    flex-basis: calc(100% - 10px);
}

dialog .inputs>div:nth-last-child(-n + 2) {
    flex-basis: calc(50% - 15px);
}

dialog .inputs>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

dialog .inputs>div * {
    font-size: auto;
}

dialog .controls {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 20px 5px 0px;
    gap: 20px;
}

dialog[open] {
    animation: fadein 0.4s ease-in forwards;
}

dialog[close] {
    animation: fadeout 0.4s ease-out forwards;
}

dialog .modal-btn {
    border-style: none;
    background-color: white;
    border-radius: 5px;
    height: 2rem;
    transition: 0.3s;
}

dialog .modal-btn:hover {
    border-style: none;
    background-color: #247291;
    color: white;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.priority[p-class="low"],
.priority[p-class="medium"],
.priority[p-class="high"] {
    width: fit-content;
    color: #f5f9ee;
    padding: 5px 10px;
    border-radius: 5px;
}

.priority[p-class="low"] {
    background-color: rgb(22, 129, 22);
}

.priority[p-class="medium"] {
    background-color: rgb(165, 165, 0);
}

.priority[p-class="high"] {
    background-color: rgb(182, 0, 0);
}

.task-card > p {
    inline-size: 90%;
    overflow-wrap: break-word;
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}